.Hi {
  font-size: 30px;
  text-align: center;
  margin-top: 180px;
  font-family: "Poppins", sans-serif;
  line-height: 45px;
  display: flex;
  justify-content: center;
  color: $dark;
}

.indication {
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  font-family: "VT323", monospace;
  color: $grey;

  @keyframes blink {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  blink {
    animation: blink 1s infinite;
  }
}

.svg {
  margin-top: 30px;
}

.footer_social {
  display: flex;
  //flex-direction: row;
  font-size: 18px;
  //ducoup ici aussi j'ai changer pour faire marcher le transaleY(-10px) pour changer l'espacement entre les reseaux faut juste changer la width et vola j'ai commenter ce qu'il y avait avant si t'aime pas
  margin-top: 20px;
  //margin-top: 60px;
  // justify-content: center;
  //width : 0vw; avant il y avait pas de width defini c pour ca
  justify-content: space-between;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;

  font-family: "VT323", monospace;

  ul {
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    color: $dark;
    //ducoup lina j'ai add une transition genre la regle des que tu change un etat de quelque chose faut en mettre une tu peux l'enlever si tu kiff ap
    transition: 0.3s;
    // ca c que pour fix la hitbox du hover mais je suis pas sur essaye sans et dis moi
    height: 50px;

    &:hover {
      color: $pink;
      transform: translateY(-10px);
    }
  }
}

.click {
  animation: click 1s infinite;
}
